{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta name="description" content="{{ article.summary|striptags }}">
{% endblock %}

{% block title %}
{{ article.title|striptags }} {{ super() }}
{% endblock %}

{% block page_header %}
{{ article.title }}
<!--
<h3 class="bg-light text-dark">
  <a type="button" class="btn btn-dark" href="{{REPOSITORY}}/blob/master/content/posts/{{article.slug}}">Edit</a>
</h3>
-->
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-9">

    <article class="article">
      <header>
        <ul class="list-inline">
          <li class="list-inline-item text-muted" title="{{ article.date.isoformat() }}">
            <i class="fa fa-clock-o"></i>
            {{ article.locale_date }}
          </li>

          {% if DEFAULT_CATEGORY != article.category %}
          <li class="list-inline-item">
            <i class="fa fa-folder-open-o"></i>
            <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
          </li>
          {% endif %}

          {% if not HIDE_AUTHORS and article.authors %}
          <li class="list-inline-item">
            <i class="fa fa-user-o"></i>
            {% for author in article.authors %}
            <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </li>
          {% endif %}

          {% if article.tags %}
          <li class="list-inline-item">
            <i class="fa fa-files-o"></i>
            {% for tag in article.tags %}
            <span class="badge badge-default"><a href="{{ SITEURL }}/{{ tag.url }}">
              {{ tag }}
            </a></span>{% if not loop.last %}/ {% endif %}
            {% endfor %}
          </li>
          {% endif %}
        </ul>
      </header>
      <div class="content">
        {{ article.content }}
      </div>

      {% if article.related_posts %}
      <h4>Produits similaires:</h4>
      <ul>
      {% for related_post in article.related_posts %}
          <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}

    </article>
    {% include 'include/comments.html' %}

  </div>
  <div class="col-md-3">
    {% if article.toc %}
    <nav class="toc">
      <h3 class="text-uppercase bg-light text-dark">Tables des Matières</h3>
      {{ article.toc }}
    </nav>
    {% endif %}
  </div>
</div>

{% endblock %}
