<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="{{SITEURL}}"><h2>{{SITENAME}}</h2></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="{{SITEURL}}"><i class="fa fa-home fa-2x"></i></a>
        <!--
        <a class="nav-item nav-link" href="{{SITEURL}}/pages/awesome.html">Awesome</a>
        -->
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{REPOSITORY}}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      </div>


      <!--
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="{{SITEURL}}/search.html">
              <i class="fa fa-search fa-2x"></i>
          </a>
        </li>
      </ul>
    -->
    </div>

  </nav>

